body {
    color: darkslategray;
    background-color: snow;
    width: 800px;
    margin: 10px auto;
    font-size: 11pt;
}
.header {
    padding-bottom: 15pt;
    font-size: 9pt;
}
.footer {
    clear: both;
    font-size: 9pt;
    padding-top: 15pt;
}
